body {
    font-family: 'Montserrat', sans-serif;
}

.btn-info {
    color: white !important;
}

a {
    color: #680446 !important;
    text-decoration: none !important;
}
a:visited {
    text-decoration: none !important;
}

a:hover {
    text-decoration: none !important;
}

.abstract-body {
    font-style: italic;
}

